
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color:#222;
}

h2 {
    font-size: 35px;
    line-height: 47px;
    color:#222;
}

h4 {
    font-size: 20px;
    line-height: 32px;
    color:#222;
}

h6 {
    font-size: 12px;
    font-weight: 700px;
}

p {
    font-size: 16px;
    color: rgb(77, 77, 77);
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;

}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* HEADER START */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgb(0,0,0,0.08);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(71, 133, 20);

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 5px;
    border-radius: 5px;
    background-color:rgb(71, 133, 20);
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* HOME PAGE */

#hero{
    background-image: url("media/img1.jpeg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    background-color: white;
    color: rgb(255, 162, 12);
    padding: 0px 8px 0px 8px;
    margin-bottom: 10px;
    font-weight: 400;
}

#hero h1 {
    color: white;
}

#hero button {
    color: #222;
    border-radius: 5px;
    border: 0px;
    padding: 5px 10px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    cursor: pointer;
    font-size: 16px;
}

#hero p {
    color: white;
}
#hero button:hover {
    background-color: rgb(210, 224, 214);
    color:rgb(71, 133, 20);
    transition: 0.4s ease;
}
/* FEATURED PRODUCTS @ Homepage */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0,0,0,0.02);
    margin: 15px 0px;
    transition: 0.3s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0,0,0,0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 12px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10x 0;
    }

#product1 .pro .des span{
    color: rgb(232, 172, 7);
    font-size: 12px;
}

#product1 .pro .des h5 {
    font-size: 15px;
}

#product1 .pro .des i {
    font-size: 14px;
    color: rgb(247, 224, 10);
}

#product1 .pro .des h4 {
    color:rgb(37, 133, 20);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(232, 241, 233);
    font-size: 20px;
    font-weight: 500;
    color:rgb(37, 133, 20);
    border: 1px solid rgb(189, 219, 189);
    position: absolute;
    bottom: 16px;
    right: 16px;
}


/* SHOP */

#page-header {
    position: relative;
    width: 100%;
    height: 25vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* To ensure pseudo-element doesn't overflow */
}

#page-header::before {
    content: "";
    background-image: url("media/c2.png");
    opacity: 70%; /* Adjust the opacity level as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Send the background image behind the content */
}
#page-header .ph-txt h2{
    color: rgb(255, 255, 255);
    padding-top: 60px;
    position: relative;
    z-index: 1;
}

#page-header .ph-txt p{
    color: white;
    margin-top: -2px;
    position: relative;
    z-index: 1;
}


/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #f7edd0;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 10px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: rgb(107, 107, 107);
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size:14px;
    padding-bottom: 4px;
}

footer a {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #222;
    margin-bottom: 10px;
}

footer a:hover {
    color: #519725;
    text-decoration: underline;
}

footer .follow i {
    font-size: 20px;
    color:rgb(52, 52, 52);
}

footer .cred {
    width: 100%;
    text-align: center;
}

footer .pay {
    background-size: 20px;
}
/*Cart Page*/
/*Start Media Query*/
@media (max-width) {
    
}

/*About*/
#about {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}